body {
    /* background-color: black !important; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .physio-container {
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;
  }
  
  .content {
    margin-top: 15vh;
    max-width: 100vw;
  }
  
  .left-rect,
  .right-rect {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 150px;
    background: linear-gradient(to right, black, transparent);
    z-index: 1;
  }
  
  .left-rect {
    left: 0;
  }
  
  .right-rect {
    right: 0;
    background: linear-gradient(to left, black, transparent);
  }
  
  .image-slideshow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1250px;
  }
  
  .slideshow-image {
    width: 100%;
    height: auto;
  }
  
  .centered-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .start-button {
    padding: 15px 30px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 1);
  }
  
  .start-button:hover {
    background-color: darkblue;
  }
  
  .show {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .hide {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .diagram-container {
    background-image: url('/src/other_assets/muscular_system.png');
    margin-left: 100px;
    margin-bottom: 0px;
    background-size: 35vh;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  
  .body-parts {
    margin-right: 66vw;
    margin-top: 30px;
    margin-bottom: 0px;
    background-size: 35vh;
    position: relative;
    z-index: 101;
  }
  
  .body-parts-row {
    display: flex;
    justify-content: center;
  }
  
  .circle-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  
  .circle-button:hover {
    background-color: darkred;
  }
  
  .submit-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 600px;
  }
  
  .submit-button {
    padding: 15px 30px;
    margin-right: 1000px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  
  .submit-button:hover {
    background-color: darkred;
  }
  
  .text-above-submit {
    color: white;
    font-size: 1600px;
    margin-top: 90000px;
    z-index: 9999;
  }
  