body {
  background-color: black;
}

.physio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collage-container {
  margin-top: 50px;
  position: relative;
  width: 100%;
  min-width: 100vw;
  height: 70vh;
  overflow: hidden;
}

.collage-container img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage-container img.active {
  display: block;
}

.centered-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.start-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: -9px 9px 10px rgba(0, 0, 0, 1);
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 45vw;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
}

.modal-content img {
  width: 300px;
  margin-right: 20px;
  z-index: 1; /* Ensure the image is above the buttons */
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: absolute;
  z-index: 2; /* Ensure the buttons are above the image */
  margin-left: 400px;
  margin-bottom: 150px;
  margin-top: 60px;
}

.red-button, .green-button {
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.red-button {
  background-color: red;
}

.green-button {
  background-color: green;
  grid-column: span 2;
}

.modal-content h3.exercise-description {
  text-decoration: underline;
}

.therapy-session-content {
  display: flex;
  align-items: flex-start;
}

.video-container, .gif-container {
  flex: 1;
}

.video-container {
  margin-right: 20px;
}

.gif-container img {
  max-width: 100%;
}

.gif-container img:nth-child(2) {
  margin-top: 20px; 
}
