.psycho-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.chat-container {
  margin-top: 50px; /* Adjust margin to account for Navbar height */
  margin-bottom: 0px; /* Adjust margin to account for Footer height */
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 20px solid black;
  padding: 10px; /* Add padding to the chat container */
  background: linear-gradient(to bottom, #273450ff, #224c56ff); /* Gradient from red to orange */
  overflow-y: scroll;
}

.chat-history {
  flex: 1;
  padding: 10px;
}

.message {
    margin-bottom: 10px;
    max-width: 50vw; /* Set the width to 50vw */
    word-wrap: break-word; /* Add word-wrap to allow text wrapping */
    display: flex; /* Use flex display for alignment */
  }  
  
  .message.user {
    margin-left: auto; /* Push user messages to the right */
    background-color: #335c7bff; /* Change background color for user messages */
    color: white;
    padding: 8px;
    border-radius: 8px;
    max-width: 50vw;
  }
  
  .message.bot {
    background: linear-gradient(to right, #3857aaff, #338dbdff);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 8px;
    max-width: 50vw;
  }
    
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  width: calc(100vw - 40px); /* Calculate width by subtracting 20px from 100vw */
  position: relative;
}

.input-box input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  background-color: white; /* Set input background to white */
}

.input-box button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
